body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navbar {
  background-color: #333;
  color: white;
  padding: 10px 35px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#container {
  display: flex;
}

.sidebar {
  background-color: #555;
  width: 200px;
  height: calc(100vh - 50px);
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: #555;
  align-items: center;
  transition: width 0.3s;
}
.sidebar > h2 {
  color: white;
}

#bot-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0;
  background-color: #555;
  height: 100%;
  overflow-y: scroll;
}

#bot-list > button {
  background-color: transparent;
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
}

#bot-list > button:hover {
  background-color: #666;
}

#user-profile-btn {
  margin-top: auto;
  background-color: #999;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#chat-area {
  height: calc(100vh - 70px);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

#chat-window {
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
}

#user-input {
  height: 80px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}

.btn-stack {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.btn-stack > button {
  background-color: white;
  color: #333;
  border: 2px solid #888;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#user-message-txt {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.assistant-message {
  background-color: #eee;
  align-self: flex-start;
}

.user-message {
  background-color: #ddd;
  align-self: flex-end;
}

.custom-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  border: 1px solid #e0e0e0;
  padding: 16px;
  width: 300px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.custom-form h3 {
  margin-top: 0;
  font-size: 20px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.custom-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.custom-form input[type="text"],
.custom-form select,
.custom-form textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  resize: vertical;
}

.custom-form input[type="submit"] {
  padding: 10px 20px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.custom-form input[type="submit"]:hover {
  background-color: #45a049;
}
#navbar > button {
  background-color: white;
  color: #333;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.hidden {
  display: none;
}
